@media screen and (max-width: 1198px) {
  .profile-img-container img {
    width: 400px;
    height: 400px;
  }
  .profile_text_p1 {
    font-size: 20px;
  }
  .title {
    font-size: 40px;
  }
  .nav-button {
    display: none;
  }
  .section__pic-container img {
    width: 450px;
    height: 470px;
  }
}
@media screen and (max-width: 980px) {
  #profile-pic {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .profile-img-container img {
    width: 500px;
    height: 500px;
  }
  .profile_text_p1 {
    font-size: 25px;
    margin-bottom: -8px;
  }
  .title {
    font-size: 60px;
  }
  .section-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 864px) {
  .image-container img {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 804px) {
  header {
    padding: 0 1rem;
    margin-bottom: -3rem;
  }
  .nav-links {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .details-container-one {
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  .details-container-one img {
    width: 50px;
    height: 50px;
  }
  .contact-info-upper-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  @keyframes miles {
    0%,
    100% {
      top: 100px;
    }
    50% {
      top: -100px;
    }
  }
}
@media screen and (max-width: 798px) {
  .experience-sub-title {
    text-align: center;
    font-size: 30px;
  }
  #arrow {
    display: none;
  }
  .text-container p {
    text-align: center;
  }
  .footer-nav-links {
    gap: 1rem;
  }
  .footer-nav-links li a {
    font-size: 20px;
  }
  .details-container-one {
    padding: 2rem 0 2rem 0;
    gap: 2rem;
  }
  .article-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .profile_text_p1 {
    font-size: 20px;
  }
  .title {
    font-size: 50px;
  }
  .section__pic-container img {
    width: 100%;
    height: 100%;
  }
  .profile-img-container img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 585px) {
  .image-container {
    padding: 1rem;
    width: 100%;
    flex-grow: grow;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  #contact {
    margin-top: 13rem;
    margin-bottom: 8rem;
  }
  .contact-info-container p a {
    font-size: 15px;
  }
  footer p {
    font-size: 14px;
  }
  .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 490px) {
  header {
    padding: 0 0.5rem;
    margin-bottom: -3.5rem;
  }
  #profile-pic {
    padding: 0.5rem;
    gap: 0.5rem;
  }
  #contact {
    padding: 0.5rem;
  }
  #projects {
    padding: 0.5rem;
  }
  #about {
    padding: 0.5rem;
  }
  #experience {
    padding: 0.5rem;
  }
  footer {
    padding: 0.5rem;
  }
  .profile-img-container img {
    width: 100%;
    height: 100%;
  }
  .contact-info-container p a {
    font-size: 13px;
  }
  .email-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .up {
    transform: rotate(90deg);
  }
  .down {
    transform: rotate(-90deg);
  }
  .footer-nav-links li a {
    font-size: 15px;
  }
  footer p {
    font-size: 12px;
  }
  .about-containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .details-container {
    width: 100%;
    flex-grow: 1;
  }
  .title-project {
    margin-bottom: 1rem;
  }
  .project-containers {
    margin-top: -0rem;
  }
  .experience-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .free {
    transform: rotate(180deg);
  }
  @keyframes upDown {
    0%,
    100% {
      top: 30px;
    }
    50% {
      top: -20px;
    }
  }
  .title-project {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 460px) {
  .btn-container {
    width: 100%;
    gap: 0.5rem;
  }
  .btn-1 {
    width: 100%;
    padding: 0;
    font-size: 13px;
    flex-grow: 1;
  }
  .btn-2 {
    width: 100%;
    font-size: 13px;
    flex-grow: 1;
  }
  .profile_text_p1 {
    font-size: 20px;
  }
  .title {
    font-size: 30px;
  }
  .profile_text_p2 {
    font-size: 18px;
  }
  .contact-info-container {
    display: flex;
    flex-direction: column;
  }
  .title-contact {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  footer {
    padding: 0;
    padding-bottom: 1rem;
  }
  .footer-nav-links li a {
    font-size: 13px;
  }
  footer p {
    font-size: 9px;
  }
  .logo {
    font-size: 40px;
  }
}
